<section id="organizations">
  <div class="s-logos col-md-8 col-lg-8 mx-auto">    
    <img alt="AWS משתתפת בתוכנית" src="https://levtech.jct.ac.il/assets/partners/corona/AWS.png" class="growBit cThis deLogo" style="max-height: 80px;"> 
     <img alt="EzerMitzion משתתפת בתוכנית" src="https://levtech.jct.ac.il/assets/partners/corona/EzerMitzion.png" class="growBit cThis deLogo" style="max-height: 80px;">  <img alt="Harli משתתפת בתוכנית" src="https://levtech.jct.ac.il/assets/partners/corona/Harli.png" class="growBit cThis deLogo" style="max-height: 80px;">  
     <img alt="Jerusalem and Heritage משתתפת בתוכנית" src="https://levtech.jct.ac.il/assets/partners/corona/Jerusalem and Heritage.png" class="growBit cThis deLogo" style="max-height: 80px;">     
     </div>
</section>
